@using ITMVC.Models
@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_HomeScript")

<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-sm-3 text-left">
            <h5><b>JOBS IN</b></h5>
            <p>Main Western Province In Sri Lanka</p>
            <button type="button" class="btn btn-warning"><b>NEED POST JOB</b> </button>
            <br />
            <hr />
            <h5><b>Select Category</b></h5>
            @if (Model.Categories != null)
            {
                foreach (var cat in Model.Categories)
                {
                    <label onclick="ShowJobswithCategories(false,'@cat.Id')"> <i class="fa fa-tasks" aria-hidden="true"></i> <a href="#">@cat.Category</a></label><br />
                }
            }
            <br />
        </div>
        <div class="col-sm-7 rounded" style="background-color:#eceff4">
            <div class="container mt-3 mb-3">
                <div class="row pl-4 pt-4 pr-4" style="background-color:white">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <h5><b>WHAT</b></h5>
                            <label for="exampleFormControlInput1">Job name, Company Name, Keyword Search</label>
                            @Html.TextBoxFor(m=>m.SerchWord,new { @class = "form-control form-control-lg", @placeholder = "What Need...", @style = "border:none;background-color:#eceff4" })
                            @*<input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="What Need..." style="border:none;background-color:#eceff4">*@
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <h5><b>CATEGORY</b></h5>
                            
                            <label for="exampleFormControlInput1">Select Job Category</label>
                            @Html.DropDownListFor(d => d.categoryId, new SelectList(Model.CategoryDropDown, "Id", "value"), new { type = "date", @class = "form-control form-control-lg", @style = "border:none;background-color:#eceff4" })
                            @*<select class="form-control form-control-lg" style="border:none;background-color:#eceff4">
                                <option>Small select</option>
                            </select>*@
                        </div>
                    </div>
                </div>
                <div class="row pr-4 pl-4 pb-4">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4 p-3 text-center rounded-bottom" style="background-color:white">
                        <button type="button" class="btn btn-primary btn-lg" onclick="FindJobVacancy(false)">FIND JOBS</button>
                    </div>
                    <div class="col-sm-4 text-center mt-3">
                        <button type="button" class="btn btn-light btn-lg" onclick="ThumbnilChange(true)"><i class="fa fa-list" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-light btn-lg" onclick="ThumbnilChange(false)"><i class="fa fa-image"></i></button>
                    </div>
                </div>
                <div id="jobdatalongrow" style="max-height:600px;overflow-y:scroll;overflow-x:hidden">

                </div>
                <div  id="jobdatasortrow" style="max-height:600px;overflow-y:auto;overflow-x:hidden">
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12 text-center border border-info">
                    <label>Company Add Here</label>
                    <label>(+94)71 21 25 166</label>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
    // A $( document ).ready() block.
    $(document).ready(function () {
        LoadData(false);
    });
</script>