@using ITMVC.Models.EmailVM
@model EmailMM


<form>
    @Html.HiddenFor(m => m.AcceptEmailId)
    @Html.HiddenFor(m => m.CompanyId)
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @type = "email", @style = "width:100%" })
            @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
        </div>
    </div>
</form>
